[Unit]
Description=FreenetIS DHCP synchronization
After=network.target
Wants=isc-kea-dhcp4-server.service
ConditionPathExists=/etc/freenetis/freenetis-dhcp.conf

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/sbin/freenetis-dhcp-sync

[Install]
WantedBy=multi-user.target